<footer id="footer" class="content black-bg">
  <div class="container align-center">
     <ul class="footer-icon">
          <li><a href="https://www.facebook.com/CultivatorDK"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/company/cultivator"><i class="fa fa-linkedin"></i></a></li>
<!--      <li><a href="#"><i class="fa fa-vk"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li> 
          <li><a href="https://twitter.com/recph"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-xing"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
          
      </ul><!--/.team-icon-->

      <div class="spacing40"></div>
      <p>
        Cultivator A/S &bull; Tlf.: 7013 3400 &bull; E-mail: {{ site.email }} &bull; CVR: 12047606
      </p>
      <p>
        Avderødvej 27B &bull; 2980 Kokkedal<br>
      </p>
      
      <div class="spacing20"></div>
      <div class="col-md-8 align-center col-md-offset-2">
        <a class="white" href="/Cultivators_Privatlivspolitik.pdf"><u>Læs vores privatlivspolitik (PDF)</u></a>
        <p class="cookies" style="color: #888;font-style: italic;">
          Vi tager personlige oplysninger meget alvorligt og er dedikerede til at beskytte dem. For at gøre det, har vi etableret procedurer og teknologi til at sikre, at oplysninger håndteres ansvarligt og i overensstemmelse med gældende databeskyttelses- og privatlivslovgivning.
        </p>
      </div>

      <!-- <a href="https://www.ingenco2.dk/crt/dispcust/c/1201/l/2"><img width="90px" src="images/co2neutralt.png" alt="CO2 neutralt website" /> </a> -->
      
      <div class="col-md-8 align-center col-md-offset-2">
        <p class="cookies" style="color: #888;font-style: italic;margin-top: 20px;">
          <b>Cookies</b><br>Vi bruger ikke cookies på dette site
        </p>
      </div>

    </div><!--/.container-->
</footer><!--/footer-->